[Desktop Entry]
Type=Application
Version=1.0
Name=Rukavychka
Exec=rukavychka
Comment=Lead the animals to the magical house in a Ukrainian glove.
Icon=rukavychka
Terminal=false
Categories=Game;ArcadeGame;
