[Desktop Entry]
Type=Application
Version=1.0
Name=Rukavychka
Exec=rukavychka
Comment=Rukavychka
Icon=rukavychka
Terminal=false
Categories=Game;ArcadeGame;
